# project-specific
02-data/*
04-analysis/*
03-scripts/junk_drawer/


# include dummy files to track empty folders
!02-data/.gitkeep
!04-analysis/.gitkeep


# tool-specific
.quarto/
.Rhistory
.Rproj.user/
*_files/
*_cache/
*_freeze/


# OS-created
*.DS_STORE
*.DS_STORE?
*._


# common formats
*.docx
*.pptx
*.pyo
*.pyc
*~

*.ai
*.pdf
*.bam
*.sam.gz
*.sam
*.fastq.gz
*.fq.gz
*.fastq
*.fq
*.fasta.gz
*.fna.gz
*.ffn.gz
*.fa.gz
*.fasta
*.fna
*.ffn
*fa
*.nfs*
/.quarto/

tmp.*
/05-results/ALL
APSA_abstract.html
.gitignore
APSA_abstract.qmd
.positai
